.body_padding_top {
    padding-top: 20px;
}

.body_padding_bottom {
    padding-bottom: 30px;
}

.accordion_padding_top {
    padding-top: 15px;
}

.section_padding_left {
    padding-left: 0px;
}

.pull_right {
    float: right;
}

.icon_size {
    font-size: 25px;
}

.img_border_radius {
    border-radius: 4px;
}

.span_text {
    color: green;
    font-weight: 600;
}

.colorRed {
    color: red;
}

.colorBlue {
    color: blue;
}

.colorWhite {
    color: white !important;
}